header{
  color: white;
  vertical-align: baseline;
  height:120px;

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    min-width: 800px;

    /* or 150% */

    letter-spacing: -0.011em;
}

*{
    box-sizing: border-box;
}

h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align:center;
    /* identical to box height, or 133% */

    letter-spacing: -0.019em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;
}

h3 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: -0.019em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;

    margin: 0px;
}

h4 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.014em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;
}
.legal1 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

/* || UTILITIES */

.pri-auto-btn {
    width: auto;
    height: 48px;
    display: inline-flex;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 8px;
    text-decoration: none;

    /* Subhead 1 */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
}

.pri-stretch-btn {
    width: 188px;
    height: 56px;
    display: inline-flex;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 8px;
    text-decoration: none;

    /* Subhead 1 */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
}

.pri-auto-btn:hover,
.pri-stretch-btn:hover {
    background-color: grey;
    transition: all ease 0.2s;
}

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* HEADER */
nav {
    width: 100%;
    z-index: 100;
    position: fixed;
    background-color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12.2%;
    margin-right: 12.2%;
    height: 104px;
}

.logo img{
    height: 40px;
}


.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    /* Overwrite initial ul css */
    padding-inline-start: 0;
}

.menu li {
    display: flex;

    /* h4 */
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.014em;

    position: relative; /* Need this for the dropdown menu */
}

.menu li a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-content: center;
}

.menu li ul { /* Dropdown menu popup */
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin: 0px;
    padding: 32px 20px 16px 20px;
    gap: 24px;
    width: 224px;
    border-radius: 4px;
    top: 28px;
}

.menu li ul a:hover {
    transition: all ease 0.2s;
    color: pink;
}

.menu li:hover ul { /* Dropdown menu popup */
    display: flex;
}


.right-cart a {
    color: black;
    display:flex;
    flex-direction: row;
    gap: 8px;
    text-decoration: none;
}


.bx {
    align-self: center;
    font-size: 24px;
}

#cart-number {
    justify-content: center;
    align-items: center;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.014em;
}

.menu a:hover,
.right-cart a:hover {
    color: pink;
    transition: all ease 0.2s;
}


/* FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top:75px;
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 12.2%;
    padding-right: 12.2%;
    background-color: #38383B;
    color: white;
}

footer .left {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-right:none;
}

footer .logo, footer img {
    height: 32px;
    width: 132px;
    margin-bottom: 12px;
}

footer .legal1 {
    margin-top: 32px;
}

footer .sitemap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #919191;
    gap: 12px;
}

footer .sitemap ul, a {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #DBDBDB;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
    transition: all ease 0.2s;
}

.label a {
    color: black;
    text-decoration: none;
}

.label a:hover {
    color: pink;
    transition: all ease 0.2s;
}

.logo{
  float:left;
  display:inline;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.sub-navigation{
  position: static ;
  background-color:aliceblue;
}

.sub-navigation ul{
  display:flex;
  list-style-type: none;
  flex-direction:row;
  padding-left:30px;
}
.sub-navigation a{
  padding-right:20px;
  text-decoration: none;
  font-size:14px;
  color:black;
}
.active {
  font-weight:bold;
}

/*general*/
.right {
  width: 50%;
  float: right;
  padding-left:20px;
}

.left {
  overflow: hidden;
  padding-left:30px;
  padding-right:50px;
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: thin;
}

.left input{
  width:200px;
}

.cart-table{
  border-collapse: collapse;
  width:100%;
  line-height: 30px;
}

.tnc{
  text-align:right;
  padding-right:20px;
  line-height: 40px;
}

.contact-form input, select{
  width: 100%;
  height:30px;
  padding:7px;
}

.form-group{
  padding-top: 10px;
}

/* submit buttons */
.submit-group input{
  margin-top:20px;
  border-radius:7px;
  color:white;
  background-color:black;
  padding:7px;
  width:175px;
  margin-right:15px;
}

/*checkout2 tables*/
.table1{
  width:100%;
  text-align:left;
  border:solid 1px;
  line-height: 40px;
  border-radius:10px;
  border-color: gray;
  margin-bottom:25px;
  padding-left:10px;
}

.table2{
  width:100%;
  text-align:left;
  border: solid 1px;
  line-height:40px;
  border-radius:10px;
  border-color:gray;
  margin-top:5px;
}
.table2 input{
  width:20px;
  margin-right:10px;
}
/*checkout3 table */
.table3 {
  width:100%;
  text-align:left;
  border: solid 1px;
  border-radius:5px;
  border-color:gray;
  margin-top:5px;
  padding-left:5px;
}
.table3 input{
  width:auto;
}

.new_billing_address{
  width:100%;
}

/*checkout4*/
.final-main{
  width:40%;
  margin:auto;
}

.final-right{
  width:50%;
  float:right;
  text-align: left;
}

.final-left{
  text-align: left;
  margin-bottom:50px;
}
